{% extends 'base.html' %}
{% block title %}Огурэц{% endblock %}
{% block user %}
    <div class="login">
        <a href="{% url 'login' %}" class="login-btn">Войти</a>
    </div>
{% endblock %}
{% block main %}
    <main class="main container">
      <section class="sayhello">
        <p class="sayhello-emoji">👋</p>
        <p class="sayhello-text">
          Лучшая система по сопровождению тестирования ПО. С нами работают
          лучшие. Наши клиенты - Яндекс, Гугл, Амазон, ВК, Авито
          Присоединяйтесь!
        </p>
      </section>
    </main>
{% endblock %}
