<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ogurech</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="header container">
      <a href="/" class="logo">
        <img
          width="70"
          src="/static/img/logo.png"
          alt="Лого: Ogurech"
          class="logo-image"
        />
      </a>
      <span class="company-name"> Ogurech </span>
    </header>
    <main class="main container">
      <section class="auth">
        <p class="auth-greeting">Добро пожаловать!!!</p>
        <div class="auth-form">
          <input class="auth-name" type="text" placeholder="Логин" />
          <input class="auth-password" type="text" placeholder="Пароль" />
          <input class="auth-btn" type="submit" value="Войти" />
        </div>
        <p class="auth-error">Неверные логин или пароль</p>
      </section>
    </main>
    <footer class="footer">
      
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>
