<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индекс Еда</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header container">
        <a href="/" class="logo">
            <img width="128" src="img/logo.png" alt="Лого: Ogurech" class="logo-image" />
        </a>
        <span>
            Ogurech
        </span>
        <div class="auth">
            <a href="#" class="login">Выйти</a>
        </div>
    </header> 
    <aside>
        <a href="#">Проекты</a>
        <a href="#">Админ-панель</a>
        <a href="#">Тест-кейсы</a>
    </aside>
    <main class="main">
        
    </main>
    <footer class="footer">
        
    </footer>
    <script src="js/main.js"></script>
</body>
</html>