<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ogurech</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="header container">
      <a href="/" class="logo">
        <img
          width="70"
          src="/static/img/logo.png"
          alt="Лого: Ogurech"
          class="logo-image"
        />
      </a>
      <span class="company-name"> Ogurech </span>
      <div class="login">
        <span class="username">t.testuser</span>
        <a href="#" class="logout-btn">Выйти</a>
      </div>
    </header>

    <main class="main container">
      <div class="wrapper">
        <aside class="nav">
          <a class="nav-elem" href="#">Проекты</a>
          <a class="nav-elem" href="#">Админ-панель</a>
          <a class="nav-elem" href="#">Тест-кейсы</a>
        </aside>
        <section class="projects content-section">
          <span class="title">Проекты</span>
          <div class="btns">
            <input class="add-btn" type="submit" value="Новый проект" />
          </div>
          <div class="content">
            <div class="card">
              <span class="card-title">Проект_1</span>
              <div class="card-content">
                <span class="card-content-title">Описание проекта:</span>
                <span class="card-content-info">Это первый тестируемый проект в системе Ogurech</span>
                <a class="card-content-link" href="#">Перейти</a>
              </div>
            </div>
            <div class="card">
              <span class="card-title">Проект_2</span>
              <div class="card-content">
                <span class="card-content-title">Описание проекта:</span>
                <span class="card-content-info">Это второй тестируемый проект в системе Ogurech</span>
                <a class="card-content-link" href="#">Перейти</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer"></footer>
    <div class="modal create-project">
      <div class="modal-dialog">
        <div class="modal-header">
            <h3 class="modal-title">Новый проект</h3>
            <button class="close">&times;</button>
        </div>
        <div class="modal-body">
            <input class="modal-input" type="text" placeholder="имя проекта">
            <input class="modal-input" type="text" placeholder="описание проекта">
        </div>
        <div class="modal-footer">
            <button class="modal-button" type="submit">Создать</button>
        </div>
      </div>
    </div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
