<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ogurech</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header container">
        <a href="/" class="logo">
            <img width="128" src="img/logo.png" alt="Лого: Ogurech" class="logo-image" />
        </a>
        <span>
            Ogurech
        </span>
        <div class="auth">
            <a href="#" class="login">Выйти</a>
        </div>
    </header> 
    <aside>
        <a href="#">Проекты</a>
        <a href="#">Админ-панель</a>
        <a href="#">Тест-кейсы</a>
    </aside>
    <main class="main">
        <section class="releases container">
            <h2 class="section-title">Проект_1</h2>
            <div class="releases-content">
                <div class="release-card">
                    <h3 class="release-title">Релиз_1</h3>
                </div>
                <div class="release-card">
                    <h3 class="release-title">Релиз_2</h3>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        
    </footer>
    <div class="modal create-release">
        <div class="modal-header">
            <h3 class="modal-title">Новый релиз</h3>
            <button class="close">&times;</button>
        </div>
        <div class="modal-body">
            <input class="release-name" type="text" placeholder="имя релиза">
            <input class="release-description" type="text" placeholder="описание релиза">
        </div>
        <div class="modal-footer">
            <button class="button" type="submit">Создать</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>